pandas
numpy
scikit-learn
matplotlib
opencv-python
Pillow
seaborn
transformers
streamlit
huggingface_hub
albumentations
fpdf
sentencepiece
reportlab
tensorflow
keras
h5py
torch==2.1.0



