pandas
numpy
scikit-learn
matplotlib
opencv-python
Pillow
seaborn
transformers
streamlit
huggingface_hub
albumentations
fpdf
sentencepiece
reportlab
tensorflow==2.19.0
keras==2.19.0
h5py>=3.9.0

